extends ../layout/admin

block contenido 
    section(id="" class="seccion seccion-inicio" style="--img:url('https://media.gq.com.mx/photos/625f1587b6a67eb4f0c2eb92/16:9/w_2992,h_1683,c_limit/gimnasio-1318512403.jpg')")
        div(id="titulos-inicio")
            article(class="titulo-1") Salud
            article(class="titulo-2") Fitness
            article(class="titulo-3") Entrena con Nosotros
            a(href="/gimnasio/registrarUsuario" class="boton-inicio boton-registrar-usuario") Registrar Usuario 